<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Used to scan and photograph pilot documents, logbook pages, and aircraft records.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Used to attach existing photos or scans of logbook pages and STC/337 documents.</string>
	<key>UIAppFonts</key>
	<array>
		<string>BigShouldersDisplay-Black.ttf</string>
		<string>BigShouldersDisplay-Bold.ttf</string>
		<string>SairaCondensed-SemiBold.ttf</string>
		<string>SairaCondensed-Bold.ttf</string>
		<string>SairaCondensed-ExtraBold.ttf</string>
		<string>Inter-Regular.ttf</string>
		<string>Inter-Medium.ttf</string>
		<string>Inter-SemiBold.ttf</string>
	</array>
</dict>
</plist>
